<section class="options-card__card">
  <div class="options-card__card__title">
    <h2>Accumsan mus tortor nunc aliquet</h2>
  </div>
  <hr />
  <p class="options-card__card__paragraphy">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia
    <br />
    officia officia itaque ab asperiores voluptatum officia officia!
  </p>
  <div class="options-card__card__elements">
    <div class="options-card__card__elements__item">
      <i class="far fa-paper-plane"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
    <div class="options-card__card__elements__item">
      <i class="fas fa-laptop"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
    <div class="options-card__card__elements__item">
      <i class="fas fa-code"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
    <div class="options-card__card__elements__item">
      <i class="fas fa-headphones"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
    <div class="options-card__card__elements__item">
      <i class="far fa-heart"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
    <div class="options-card__card__elements__item">
      <i class="far fa-flag"></i>
      <h1>ARCU ACCUMSAN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis
        fugit exercitationem, tempora reiciendis fuga adipisci quod adipisci
        adipisci
      </p>
    </div>
  </div>
</section>