.btn-primary {
  background-color: #ed4933;
  box-shadow: none !important;
  color: #ffffff !important;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3.125em;
  letter-spacing: 2px;
  line-height: 3.125rem;
  max-width: 30rem;
  padding: 0 2.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
