<section class="banner-icon">
    <div class="banner-icon__container">
        <div class="banner-icon__main">
            <h2 class="banner-icon__title">
                Arcu aliquet vel lobortis ata nisl <br>
                eget augue amet aliquet nisl cep donec
            </h2>
            <p class="banner-icon__paragraph">
                Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend <br>
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
            </p>
        </div>
        <ul class="banner-icon__icons">
            <li><i class="far fa-gem"></i></li>
            <li><i class="far fa-heart"></i></li>
            <li><i class="fas fa-code"></i></li>
        </ul>
    </div>
</section>