<section class="banner">
    <div class="banner__main">
        <h2 class="banner__title">
            html 5
        </h2>
        <p class="banner__paragraph">
            Another fine responsive <br>
            site template freebie <br>
            crafted by antonivaldu
        </p>
        <ul class="banner__btn-container">
            <li><a routerLink="/home-elements" class="btn-primary">Activate</a></li>
        </ul>
    </div>
    <a href="#" class="banner__still">Lern More</a>
    <i class="fas fa-arrow-down"></i>
</section>