<section class="main">
    <div class="main__container">
        <app-text-heading title="text"></app-text-heading>
        <p class="main__paragraph-with-metag">
            This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is
            <em>emphasized</em>. This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
            This is <u>underlined</u> and this is code: <code>for (;;) &#123; ... &#125;</code>. Finally, 
            <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element" target="_blank">this is a link</a>.
        </p>
        <app-line></app-line>

        <app-text-heading title="Heading with a Subtitle"></app-text-heading>
        <app-subtitle subtitle="Lorem ipsum dolor sit amet nullam id egestas urna aliquam"></app-subtitle>
        <app-paragraph paragraph="Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
        faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
        montes viverra nibh in adipiscing blandit tempus accumsan."></app-paragraph>

        <app-text-heading title="Heading with a Subtitle"></app-text-heading>
        <app-subtitle subtitle="Lorem ipsum dolor sit amet nullam id egestas urna aliquam"></app-subtitle>
        <app-paragraph paragraph="Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
        faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
        montes viverra nibh in adipiscing blandit tempus accumsan."></app-paragraph>
        <app-line></app-line>

        <app-heading-tag></app-heading-tag>
        <app-line></app-line>

        <app-text-heading title="Blockquote"></app-text-heading>
        <app-blockquote></app-blockquote>

        <app-text-heading title="Preformatted"></app-text-heading>
        <app-code></app-code>

        <app-lists></app-lists>

        <app-text-heading title="Actions"></app-text-heading>
        <app-actions></app-actions>

        <app-form></app-form>

        <app-text-heading title="Table"></app-text-heading>
        <app-text-heading title="Default"></app-text-heading>
        <app-table></app-table>

        <app-text-heading title="Buttons"></app-text-heading>
        <app-buttons></app-buttons>

        <app-text-heading title="Image"></app-text-heading>
        <app-text-heading title="Fit"></app-text-heading>
        <app-images></app-images>

        <app-text-heading title="Left & Right"></app-text-heading>
        <app-text-with-image></app-text-with-image>
    </div>
</section>