<section class="contact">
    <div class="contact__container">
        <span class="contact__container-text">
            <h2 class="contact__title">Arcue ut vel commodo</h2>
            <p class="contact__paragraph">Aliquam ut ex ut augue consectetur interdum <br>
                endrerit imperdiet amet eleifend
                fringilla.</p>
        </span>
        <ul class="contact__list-column">
            <li><a href="" class="btn-primary large">Activate</a></li>
            <li><a href="" class="btn">Activate</a></li>
        </ul>
    </div>
</section>