<div class="images">
    <div class="row">
        <div class="col-12">
            <span class="images__card">
                <img src="../../../../../assets/img/banner.jpg" alt="">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic01.jpg" alt="Main image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic02.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic03.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic03.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic02.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic01.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic02.jpg" alt="Secondary image">
            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic01.jpg" alt="Secondary image">

            </span>
        </div>
        <div class="col-4">
            <span class="images__card">
                <img src="../../../../../assets/img/pic03.jpg" alt="Secondary image">
            </span>
        </div>
    </div>
</div>