<section class="actions">
    <div class="row">
        <div class="col-6">
            <div class="actions__dfts">
                <button class="btn-default">DEFAULT</button>
                <button class="btn-transparent">DEFAULT</button>
            </div>
            <div class="actions__sm">
                <button class="btn-default">SMALL</button>
                <button class="btn-transparent">SMALL</button>
            </div>
            <div class="actions__column">
                <button class="btn-default default">DEFAULT</button>
                <button class="btn-transparent default">DEFAULT</button>
                <button class="btn-default small">SMALL</button>
                <button class="btn-transparent small">SMALL</button>
            </div>
        </div>
        <div class="col-6">
            <div class="actions__lg">
                <button class="btn-default">DEFAULT</button>
                <button class="btn-transparent">DEFAULT</button>
                <button class="btn-default">SMALL</button>
                <button class="btn-transparent">SMALL</button>
            </div>
        </div>
    </div>
</section>