<div class="sn-buttons">
  <div class="sn-buttons__first">
    <button class="btn-default default">PRIMARY</button>
    <button class="btn-transparent default">DEFAULT</button>
  </div>
  <div class="sn-buttons__second">
    <button class="btn-transparent large">LARGE</button>
    <button class="btn-transparent default">DEFAULT</button>
    <button class="btn-transparent small">SMALL</button>
  </div>
  <div class="sn-buttons__third">
    <button class="btn-transparent">FIT</button>
    <button class="btn-default">FIT</button>
    <button class="btn-transparent">FIT</button>
  </div>

  <div class="sn-buttons__fourty">
    <button class="btn-default">FIT + SMALL</button>
    <button class="btn-transparent">FIT + SMALL</button>
    <button class="btn-default">FIT + SMALL</button>
  </div>

  <div class="sn-buttons__fifth">
    <button class="btn-default small">
      <i class="fas fa-download"></i>
      ICON
    </button>
    <button class="btn-transparent small">
      <i class="fas fa-download"></i>
      ICON
    </button>
  </div>
  <div class="sn-buttons__sixty">
    <button class="btn-default disabled default">DISABLED</button>
    <button class="btn-transparent disabled default">DISABLED</button>
  </div>
</div>