.sn-buttons {
  margin-top: 20px;
  button {
    @media (max-width: 426px) {
      width: 100% !important;
      margin-top: 15px;
    }
  }
  &__first {
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__second {
    margin-top: 20px;
    display: flex;
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__third {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    button {
      width: 33%;
    }
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__fourty {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    button {
      width: 33%;
    }
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__fifth {
    margin-top: 20px;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__sixty {
    margin-top: 20px;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
  }
  .btn-default {
    background: #e74832;
    color: #fff;
    border: none;
    border-radius: 3px;
    letter-spacing: 3px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
  }
  .btn-transparent {
    background: transparent;
    color: #000;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 3px;
    letter-spacing: 3px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
  }
  .large {
    height: 71px !important;
    width: 226px;
  }

  .default {
    width: 159px;
  }

  .small {
    width: 134px;
  }

  .disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
